<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-cogs"></span>
        <span class="sidebar-title">{{ 'Systeem'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">
        <li>
            <a href="/custom/novumdigid/systeem/modules/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Modules'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumdigid/systeem/tables/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Data modellen'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumdigid/systeem/databron/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Databronnen'|translate }}
            </a>
        </li>
    </ul>
</li>