<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-list"></span>
        <span class="sidebar-title">{{ 'Een overheid'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">
        <li>
            <a href="/custom/novumdigid/eenoverheid/wet/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Wetten'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumdigid/eenoverheid/formulieren/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Formulieren'|translate }}
            </a>
        </li>
    </ul>
</li>